<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body onload="ShowButtons()">
    <nav id="nav-bar" class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/Home/Index">Home | <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/Account/Register">Register |</a>
                <a class="nav-item nav-link active" href="/Database/Index">List of Bros/Candles |</a>
                <a class="nav-item nav-link active" href="/Admin/Index">Admin |</a>
            </div>

        </div>
        <div class="navbar-nav navbar-right">
            @if (Request.IsAuthenticated)
            {
                <p class="nav-item nav-link active navbar-right mr-5">Hello @User.Identity.Name! <strong class="ml-3"><a class="" href="/Account/LogOut">Sign Out</a></strong></p>
            }
            else
            {
            <a class="nav-item nav-link active navbar-right mr-5" href="/Account/Login">Already Registered? Sign In!</a>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <script src="~/Scripts/CandleJavaScript.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    @Scripts.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
